<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="http://localhost:5200/auth/facebook/callback">Log In with Facebook</a>
    <a href="http://localhost:5200/auth/google/callback">Log In with Google</a>
  </body>
</html>
